<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Wildin Mota">
	<meta name="description" content="Chat global donde podras hablar con personas de cualquier parte">
	<meta name="keywords" content="chat, global, amigos">
	<link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
	<title>Chat.IO</title>
	<link rel="stylesheet" type="text/css" href="/files/styles.css">
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" type="text/css" href="/files/media-queries.css">
</head>
<body>
	<div id="container">
		<div id="index">
		<center>
			<h1 class='elem'>Bienvenido a  Chat.IO by Wildin</h1>
			<h3 class='elem'>Cual es tu nickname? </h3>
			<p class='elem'>Este es un chat simple con motivos de diversion o entretenimiento entre sus participantes</p>
			<br>
			<p class='elem'>Abstente de decir comentacios racistas, homofogos,xenofobos o cual quier otra cosa que insulte a alguien... ummm mejor ni entres ahora cualquier cosa ofende</p>
			<form   id="formUser">
				<input  class='elem' type="text" id="nameInput" autocomplete="off" required>
			</form>
			</center>
		</div>
		<div id="chat">
			<div class="informacion_user">
				<center>
					<p class="bienvenido">error</p>
					<h3 class="online">Error</h3>
				</center>
			</div>
			<div class="caja_chat">
				<div class="mostrar_mensaje">
					<ul class="mensajes"></ul>				
				</div>
			</div>
			<div class="input">
			<p style="color:red; font-size: 1em;" id="type"></p>
				<form id="formMensaje">
					<p id="nombre"></p>
					<input placeholder="Type your message..." type="text" id="inputMensaje" autocomplete="off" required />
				</form>
			</div>
			<div class="informacion">	
				<h2 class="online"></h2>
				<input type="text" id="search" autocomplete="off" onkeyup="busca(this.value)" placeholder="Buscar...">
				<hr>
				<ul id="lista_conectados"></ul>
			</div>
		</div>
	</div>
	<script src="/files/jquery.min.js"></script>
	<script src="/files/script-min.js"></script>
</body>
</html>