@media (max-width: 800px){
	.informacion{
		display: none;
	}

	.caja_chat{
		width: 100%;
		bottom: 10%;
		top: 15%;
	}
	.input{
		width: 100%;
	}
	.informacion_user{
		display: block;
	}
	#nombre{
		display: none;
	}
}